<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>提取器</title>
</head>
<body>
    <form method="post">
        这里输入分享链接：
        <textarea name="sharetxt" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="提交">
    </form>
    <div>
        <span>原始地址：</span>
        <span>{{ url }}</span>
        <span>视频ID：</span>
        <span>{{ video }}</span>
    </div>
</body>
</html>